extends layout

block append scripts
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    script(src="js/index.js")
    

block main-content 
    div#apod
        div#apod__textBox 
            h1#apod__textBox__h1 All About the Universe: Embark on a Celestial Adventure
            p Welcome to 'All About the Universe' - your gateway to an extraordinary celestial adventure. Discover the wonders of space, from distant galaxies to our own solar system, and immerse yourself in captivating imagery, fascinating facts, and up-to-date information about planets, stars, and more.
            a(href="astronomyPic.html" id="apod__textBox__Button") Astronomy Picture of the Day